.navbar-content {
    margin: 0 40px;
    font-size: 1.5rem;
    line-height: 110px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.active::after {
    position: absolute;
    content: ' ';
    background-color: var(--primary);
    width: 30px;
    height: 4px;
    border-radius: 2px;
    top: 58%;
    left: 0;
}
