.cources {
    margin-top: 50px;
    position: relative;
    .titles {
        text-align: center;
    }

    &::after {
        position: absolute;
        top: 0%;
        left: 45%;
        content: '';
        width: 10%;
        height: 3px;
        border-radius: 5px;
        background-color: var(--primary);
    }
}

.cources-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog {
    background-color: #f4f6fd;
}

//Log In

.layoutLogin {
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
